{% extends "_base.html" %}

{% block title %}{{ block.super }}: Bibliography{% endblock title %}

{% block content %}
<h1 class="display-5 text-center">Bibliography</h1>
<br>
<p>I have tried to make it as easy as possible to locate these verses. To that end, I have tried to include book and chapter numbers for all the verses so they can be located without reference to page numbers which vary among editions. I have also provided page numbers for the editions listed below.</p>
<br>
<h1 class="display-6">Illustrated editions from William Morrow</h1>
<p>These are my absolute favorite editions of the three main Middle Earth books. They are beautifully set, sturdy, and include fold out maps as well as many of Tolkien's own illustrations.</p>
<ul>
    <li>Tolkien, J.R.R. <cite>The Silmarillion Illustrated by J.R.R. Tolkien</cite>. William Morrow, 2022.</li>
    <li>Tolkien, J.R.R. <cite>The Hobbit Illustrated by the Author</cite>. William Morrow, 2023.</li>
    <li>Tolkien, J.R.R. <cite>The Lord of the Rings Illustrated</cite>. William Morrow, 2021.</li>
</ul>




{% endblock content %}