{% extends "_base.html" %}
{% load custom_filters %}

{% block title %}{{ block.super }}: Verses{% endblock title %}

{% block content %}

<h1 class="display-6">Verses of Middle Earth</h1>
<p>This is a collection of all verses in <span class="title">The Lord of the Rings</span> trilogy. By "verses," I mean songs, poems, incantations, or other specific recitations Tolkien set separately from the rest of the text. Click an excerpt to be taken to the full text.</p>
{% for verse in verses %}

    <p><a href="{% url 'verse_detail' verse.id %}" style="color: black"><span>{{ verse.blurb|safe }} ...</span></a><br>
    <span class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&#8212; {% for name in verse.speaker.all %}{{ name }}, {% endfor %} <span class="title">{{ verse.get_book_display }},</span> {% if verse.sub_book %}Book {{ verse.sub_book }}, {% endif %}Chapter {{verse.chapter }}, Page {{ verse.page }}</span></p>

{% endfor %}

{% endblock content %}